@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


* {
    text-decoration: none;
    color: inherit;
    list-style: none;
    margin: 0 auto;
    outline: none;
    border: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.container_header{
    max-width:1170px;
    padding: 0 15px;
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
}
.header_logo {
    display: flex;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    margin-top: 22px;
    background-size: contain;
}
.menu_link {
    position: relative;
    display: flex;
    margin: 0;
    margin-top: 28px;
    margin-left: 580px;
    flex-direction: row;
    align-items: center;
    width: 570px;
    height: 19px;
    justify-content: space-evenly;
}
.header_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}
.menu_link_mobile{
    display: none;
}
.menu_link_mobile_page{
    display: none;
    width: 0;
}
.banner_start {
    margin: 0 auto;
    position: relative;
    background:url('img/bgimage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: 1;
}
.banner_start::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.container_banner{
    padding-bottom: 185px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 306px;
    display: flex;
    z-index: 4;
    position: relative;
    justify-content: space-between;
}
.banner_text{
    margin: 0;
    max-width: 670px;
    display: flex;
    flex-direction: column;
}
.banner_logo{
    margin-left: 0;
    display: flex;
    background-attachment: fixed;
    background:url('img/logo.svg');
    width: 170px;
    height: 55px;
    z-index: 7;
    align-self: start;
    position: relative;
}
.banner_header{
    margin-left: 0;
    margin-top: 73px;
    max-width: 670px;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    text-transform: uppercase;
}
.banner_separator {
    display: flex;
    margin-left: 0;
    margin-top: 55px;
    border: 1px solid rgb(255, 255, 255); 
    width: 170px;
    height: 0px;
}
.banner_lorem {
    margin-left: 0;
    margin-top: 42px;
    max-width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.banner_download{
    margin-left: 0;
    margin-top: 42px;
    display: flex;
    width: 270px;   
    height: 58px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    background-color:rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
}
.banner_download:hover{
    cursor: pointer;
    transition: 0.3s;
    scale:120%;
}
.banner_form_container{
    display: flex;
    flex-direction: column;
    max-height: 450px;
    border-radius: 10px;
    padding: 0 50px;
    background: rgb(255, 255, 255);
    align-items: center;
    margin: 0;
}
.banner_form{
    max-width: 370px;
    padding: 0;
    margin: 0 auto;
}
.banner_form_header{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 36px;
    margin-left: auto;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 75px;
}
.free{
    margin: 0 5px;
    color: rgb(236, 121, 121);
}
.banner_start_input{
    padding: 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    width: 370px;
    height: 40px;
    margin-bottom: 30px;
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}
.banner_form_button{
    margin-top: 45px;
    margin-left: -50px;
    width: 470px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background: rgb(236, 121, 121);
}
.socials{
    margin: 0, auto;
    position: relative;
    background: rgb(248, 239, 239);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding-bottom: 18px;
}
.container_socials{
    max-width: 1170px;
    padding: 0 15px;
    display: flex;
}
.socials_text{ 
    margin-top: 32px;
    max-width: 470px;
    margin-left: 0px;
}
.socials_header{
    display: flex;
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.socials_lorem{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.socials_img{
    display: flex;
    max-width: 670px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-around;
}
.socials_img_elem{
    transition: 0.3s;
    fill: red;
}
.socials_img_elem:hover{
    scale: 120%;
    fill: aqua;
}
.features {
    margin-top: 107px;
}
.features_container {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    padding: 0 15px;
    height: fit-content;
    background: #FFF;
}
.tabs_buttons {
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 600px;
    height: 40px;

}
.button_top {
    border-radius: 5px 5px 0px 0px;
    background-color: #FFF;
    border-bottom: 1px solid #C6CBCD;
    display: flex;
    margin: 0;
    padding: 0;
    width: 184px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.button_top:hover{
    cursor: pointer;
}
.button_top_active {
    border-radius: 5px 5px 0px 0px;
    background-color: #FFF;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-bottom: 1px solid #FFF;
    outline: 1px solid #FFF;
    display: flex;
    width: 184px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
/* .button_top:active::after{
    border-radius: 5px 5px 0px 0px;
    background-color: #FFF;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-bottom: 1px solid #FFF;
    outline: 1px solid #FFF;
    display: flex;
    width: 184px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
} */
.button_text_act{
    padding: 16px 8px;
    
}
.secret_line {
    width: 184px;
    margin-top: -1px;
height: 2px;
flex: 1 0 0;
background: #FFF;

}
.tabs_content {
    margin: 0;
    margin-top: -1px;
    max-width: 1170px;
    border: 1px solid #C6CBCD;
    padding: 0;
    display: flex;
}
.tabs_content_left{
    margin: 0;
    margin-right: 30px;
    padding: 0;
}
.tabs_content_text{
    padding-top: 55px;
    margin-left: 101px;
    display: flex;
    flex-direction: column;
}
.tabs_content_head_text {
    margin-bottom: 57px;
    display: flex;
    max-width: 570px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tabs_content_text_other{
    max-width: 570px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tabs_content_text_1 {
    margin-bottom: 26px;
}
.tabs_content_text_2 {
    margin-bottom: 80px;
}
.download_button {
    margin: 0;
    padding: 0;
    width: 270px;
    height: 58px;
    background: #EC7979;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.download_button:hover {
    cursor: pointer;
}
.statue_img{
    background:url('img/statue.png');
    background-size: cover;   
    background-repeat: no-repeat;
    display: block;
    margin-top:-1px;
    margin-left: -1px;
    max-width: 470px;
    overflow: hidden;
}
@media (max-device-width:968px) {
    .download_button{
        margin-bottom: 50px;
    }
    .tabs_content_right{
        display: none;
    }
    .statue_img{
        display: none;
    }

    }    

.container_awesome {
    
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    border: 15px black;
    padding-top: 118px;
    padding-bottom: 110px;
    

}
.text {
    max-width: 1170px;
    padding: 0 15px;
    height: 45px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.line {
    width: 170px;
    height: 2px;
    background-color: #EC7979;
    margin: 0 auto; 
  }

.awesome_lorem {
    margin-top: 40px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.blocks {
    margin-top: 92px;
    max-width: 1170px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.blocks__el {
    width: calc(1200px/3-30px/3);
    text-align: center;
    display: inline-block; 
    align-items: center;  
}
.blocks_head {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.blocks_text {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.image {
    display: block;
    margin: auto;
    margin-bottom: 24px;
}

.container_pricing{
    background-color: rgb(245, 245, 245);
}
.container_pricing_content {
    max-width: 1170px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px; 
    margin: 0 auto;
    padding-bottom: 83px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

.pricing_options {
    padding-top: 80px;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.pricing_separator {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto;
    margin-top: 40px;
  }

.pricing_lorem {
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
.pricing_tab__container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}
.pricing_tab {
    margin: 0;
    padding: auto;
    display: flex;
    width: 33%;
    height:fit-content;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.pricing_tab:hover{
    transform: translateY(-20px);
}

.pricing_tab_type {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid rgb(245, 245, 245);
    background: rgb(51, 51, 51);
}
.pricing_tab_price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid rgb(245, 245, 245);
    background: rgb(51, 51, 51);
}

.pricing_tab_advert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid rgb(245, 245, 245);
    background: rgb(51, 51, 51);
    color: rgba(255, 255, 255, 0.5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
   
}

.pricing_tab_space {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-self:auto;
    max-width: 370px;
    border: 2px solid rgb(245, 245, 245);
    background: rgb(255, 255, 255);
    
}
.gb{
    padding: 10px 0;
    border: 2px solid rgb(245, 245, 245);
    background: rgb(255, 255, 255);
    width: 100%;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.reviews_container {
    max-width: 1170px;
    height: auto;
    padding: 107px 15px;  
    

}
.reviews_headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.reviews_separator {
    max-width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto; 
  }

.reviews_lorem {
    margin-top: 40px;
    margin-bottom: 92px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.customers {
    display: flex;
    max-width: 1170px;
    padding: 0;
    height: auto;
    justify-content: space-between;
}
.customer_1 {
    max-width: 370px;
}
.customer_2 {
    max-width: 370px;
}
.customer_3 {
    max-width: 370px;

}
.customers_text {
    padding: 38px 25px;
    border-radius: 10px;
    background: rgb(226, 226, 226);
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.customers_text__triangle {
    position: relative;
    margin: 0;
    left: 19%;
    width: 0px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgb(226, 226, 226);
    background: transparent;
}
.customer_info {
    margin-top: 66px;
    display: flex;
}
.customer_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.customer_name {
    position: relative;
    top: -30px;
    margin-bottom: 18px;
    display: flex;
    height: 30px;
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-transform: capitalize;
}
.customer_job {
    position: relative;
    height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.banner_2{
    position: relative;
    z-index: 1;
    background: url('img/designimg.jpeg');
    background-size: cover;   
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    margin: 0 auto;
}

  .banner_2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.container_banner_2{
    max-width: 1170px;
    padding: 0 15 px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.banner_2_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1170px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    
}
.banner_2_separator {
    top: 170px;
    border: 1px solid rgb(255, 255, 255);
    width: 170px;
    height: 0px;
    margin: 40px auto; 

}
.banner_2_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-bottom: 80px;
}
.banner_2_button{
    width: 370px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    background-color:rgba(0, 0, 0, 0.1);
    z-index: 3;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
}
.banner_2_button:hover {
    cursor: pointer;
}
.container_contact{
    margin-top: 75px;
    max-width: 1170px;
    padding: 0 15px;
    margin-bottom: 230px;
}
.contact_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.contact_lorem{
    margin-top: 40px;
    margin-bottom: 89px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.contact_form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    fill: rgb(189, 189, 189);
}
.contact_form_left{
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 570px;
    flex-wrap: nowrap;
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-right: 30px;
}
.contact_input{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    max-width: 570px;
    height: 40px;
    margin-bottom: 50px;
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    fill: rgb(189, 189, 189);
}
.contact_form_right{
    margin: 0;
    padding: 0;
}
.contact_message{
    display: flex;
    fill: rgb(189, 189, 189);
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 50px;
    resize: none;
    max-width: 570px;
    height: 221px;
    padding: 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}
.contact_button{
    margin: 0;
    margin-top: auto;
    width: 370px;
    height: 58px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    background: rgb(236, 121, 121);
    transform: 0,3s;
}
.contact_button:hover{
    scale: 120%;
    cursor: pointer;
}

 .footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0, 0, 0);
    z-index: 5;
} 
.footer_socials{
    display: flex;
    justify-content: space-between;
    width: 49%;
    height: 32%;
} 
.footer_icon{
    width: 53px;
    height: 53px;
    transition: 0.4s;
}
.footer_icon:hover{
    scale: 130%;
}
.footer_text{
    display: flex;
    align-self: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    max-width: 77%;
    margin-bottom: 16px;
}

@media (max-device-width:1170px) and(min-device-width:769px) {
    .container_banner{
        margin: 0;
    }
    .container_header{
        padding: 0;
        margin: 0;
        max-width: 1024px;
        justify-content: space-between;
    }
    .header_logo{
       scale: 0.97;
       margin-left: 115px;
    }
    .menu_link{
        padding: 0;
        margin-left: 0;
        height: 75px;
        margin-top: 0;
        margin-right: 20px;
    }
    .header_link{
        height: 75px;
    }
    .menu_link_mobile_page{
        display: none;
        width: 0;
    }
    .banner_start{
        height: 768px;
    }
    .container_banner{
        max-width: 992px;
        margin: 50px, 16px; 
        padding: 0;
        padding-top: 212px;
        padding-bottom: 136px;
        display: flex;
    }
    .banner_text{
        margin-left: 115px;
        max-width: 454px;
        display: flex;
    }
    .banner_logo{
       scale: 0.67;
    }
    .banner_form_container{
        max-width: 300px;
        height: 450px;
    }
    .banner_form{
        max-width: 300px;
    }
    .banner_form_header{
        margin: 0;
        margin-bottom: 45px;
        height: 90px;
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;

    }
    .free{
        margin: 0 5px;
        color: rgb(236, 121, 121);
    }
    .banner_start_input{
        max-width: 300px;
    }
    .banner_form_button{
        max-width: 400px;
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
    }
    .banner_header{
        max-width: 454px;
        margin-top: 54px;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 36px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
        text-transform: uppercase;
    }
    .banner_separator{
        margin-top: 41px;
        width: 115px;
    }
    .banner_lorem{
        width: 183px;
        margin-top: 31px;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
    .banner_download{
        margin-top: 31px;
        width: 183px;
        height: 50px;
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
        text-transform: capitalize;
    }
    .container_socials{
        height: 105px;
        padding: 0;
        width: 992px;
        margin: 50px, 0;
    }
    .socials{
        height: 105px;
        padding: 0;
    }
    .socials_img{
        scale:0.9;
        margin-top: 15px;
    }
    .socials_text{
        margin: 0;
    }
    .socials_header{
        display: flex;
        align-items: center;
        height: 45px;
        margin: 0;
        margin-bottom: 13px;
        color: rgb(51, 51, 51);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0%;
        text-transform: capitalize;
    }
    .socials_lorem{
        width: 402px;
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 0;
    }
    .features_container{
        width: 992px;
        margin: 50px, 16px;
    }
    .tabs_buttons{
        width: 992px;
    }
    .button_top{
        width: 172px;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
    }
    .button_top_active{
        width: 172px;
        box-sizing: border-box;
        border: 1px solid rgb(198, 203, 205);
        border-bottom: 1px solid #FFF;
        border-radius: 5px 5px 0px 0px;
        color: rgb(51, 51, 51);
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
    }
    .tabs_content{
        width: 992px;
        margin-top: 0;
    }
    .tabs_content_left{
        margin-right: 0px;
    }
    .tabs_content_text{
        width: 483px;
        margin: 0;
        padding: 0;
        margin-top: 32px;
        margin-left: 85px;
    }
    .tabs_content_head_text{
        margin: 0;
        padding: 0;
        color: rgb(0, 0, 0);
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        text-align: left;
        margin-bottom: 70px;
    }
    .tabs_content_text_other{
        width: 483px;
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
    .tabs_content_text_1 {
        margin-bottom: 16px;
    }
    .tabs_content_text_2 {
        margin-bottom: 38px;
    }
    .download_button{
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        width: 230px;
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
        text-transform: capitalize;
    }
    .tabs_content_right{
        margin: 0;
        margin-left: 26px;
    }
    .statue_img{
        margin: 0;
        padding: 0;
        margin-left: -1px;
        width: 399px;
        height: 400px;
        align-content: center;
        overflow: hidden;
    }
    .container_awesome {
        width: 992px;
        padding-top: 92px;
        margin: 50px, 16px;
        justify-content: center;
    }
    .text{
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
    }
    .line {
        width: 142px;
    }
    .awesome_lorem {
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
    }
    .blocks {
        margin-top: 65px;
    }
    .blocks_head {
        color: rgb(0, 0, 0);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 41px;
    }
    .blocks_text {
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
    }
    .image{
        scale: 0.86;
        margin-bottom: 65px;

    }
    .container_pricing_content{
        width: 992px;
        margin: 50px, 16px;
    }
    .pricing_tab__container{
        padding: 0;
        width: 992px;
    }
    .pricing_options{
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
    }
    .pricing_lorem{
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
    }
    .pricing_tab {
        width: 317px;
    }
    .pricing_tab_type {
        width: 317px;
    }
    .pricing_tab_price {
        width: 317px;
    }
    .pricing_tab_advert {
        width: 317px;
    }
    .pricing_tab_space {
        width: 317px;
    }
    .gb{
        width: 317px;
    }
    .reviews_container{
        width: 992px;
        padding: 0;
        margin: 0;
    }
    .customers {
        width: 992px;
        margin: 0;
        padding: 0;
    }
    .customer_1{
        width: 317px;
    }
    .customer_2{
        width: 317px;
    }
    .customer_3{
        width: 316px;
    }
    .customer_details{
        margin: 0;
        padding: 0;
        justify-content: flex-end;
    }
    .customers_text{
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
    }
    .customer_name{
        margin-bottom: -2px;
        width: 230px;
        height: 36px;   
        color: rgb(0, 0, 0);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
    }
    .customer_info{
        padding: 0;
    }
    .customer_info_img{
        display: block;
        margin: 0;
    }
    .customer_job{
        align-items: flex-start;
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
    }
    .container_banner_2{
        width: 992px;
        margin: 50px, 16px;
    }
    .banner_2_header{
        width: 992px;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
    }
    .banner_2_text{
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 32px;
    }
    .banner_2_button{
        width: 317px;
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
    }
    .container_contact{
        max-width: 992px;
        margin-bottom: 50px;
        margin: 50px, 16px;
    }
    .contact_header{
        height: 120px;
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        width: 992px;
        padding: 0;
        margin-bottom: 0;
    }
    .reviews_separator{
        margin-top: 0;
        width: 142px;
    }
    .contact_lorem{
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 72px;
    }
    .contact_form{
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .contact_form_left{
        margin: 0;
        width: 486px;
    }
    .contact_form_right{
        margin: 0;
        width: 486px;
        height: 121px;
    }
    .contact_input{
        margin: 0;
        width: 486px;
        height: 38px;
        margin-bottom: 50px;
    }
    .contact_message{
        width: 486px;
        margin: 0;
        margin-left: 20px;
        height: 216px;
    }
    .contact_button{
        margin: 0 auto;
        width: 318px;
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
        text-transform: capitalize;
    }
    .footer_socials{
        width: 600px;
    }
    .footer_icon{
        scale: 0.7;
    }
}

@media (max-device-width:768px) and (min-device-width:319px) {
    *{
        margin: 0;
        padding: 0;
    }
    .header{
        width: 320px;
        height: 56px;
    }
    .container_header {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    
      .menu_link {
        position: relative;
        display: none;
        margin: 0;
      }
      .header_logo {
        position: relative;
        margin: 0;
        padding: 0;
        width: 130px;
        height: 56px;
        display: flex;
        align-items: center;
        margin-right: 95px;
      }
    
        .menu_link_mobile {
          display: flex;
          width: 24px;
          height: 18px;
          margin: 19px 16px;
          background: url(img/menu.svg);
          background-size: cover;
          background-repeat: none;
          font-size: 16px;
          appearance: none;
          border-radius: 5px;
        }
    
        .menu_link_mobile:focus {
          outline: none;
          border-color: #000;
        }
    
        select option {
          padding: 5px 10px;
        }
        .banner_start{
            height: auto;
        }
        .container_banner{
            margin: 0;
            width: 288px;
            padding: 0 16px;
            padding-top: 140px;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
        }
        .banner_logo{
            display: none;
        }
        .banner_text{
            margin: 0;
            width: 288px;
            padding: 0;
            
        }
        .banner_header{
            margin: 0;
            width: 288px;
            padding: 0;
            color: rgb(255, 255, 255);
            font-family: Raleway;
            font-size: 36px;
            font-weight: 500;
            line-height: 42px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        .banner_separator{
            width: 132px;
            margin: 43px auto;
        }
        .banner_lorem{
            margin: 0;
            width: 288px;
            padding: 0;
            color: rgb(255, 255, 255);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
        }
        .banner_download{
            width: 288px;
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 56px;
        }
        .banner_form_container{
            width: 288px;
            height: 368px;
            margin: 0;
            padding: 0;
        }
        .banner_form_header{
            width: 240px;
            height: 90px;
            margin: 0;
            padding: 0;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        .banner_form{
            width: 240px;
            padding: 0;

        }
        .banner_start_input{
            width: 240px;
            margin-bottom: 32px;
            padding: 0;
            color: rgb(189, 189, 189);
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
        }
        .banner_form_button{
            margin: 0;
            padding: 0;
            margin-left: -24px;
            width: 288px;
            height: 60px;
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;

        }
         .socials{
            width: 320px;
            height: 239px;
        }
        .container_socials{
            width: 320px;
            height: 239px;
            padding: 0;
            margin:0;
            display: flex;
            flex-direction: column;

        }
        .socials_text{
            width: 287px;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
        }
        .socials_header{
            display: flex;
            justify-content: center;
            color: rgb(51, 51, 51);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: capitalize;}

        .socials_lorem{
            margin-left: 15px;
                width: 271px;
                height: 48px;
                color: rgb(134, 135, 139);
                font-family: Raleway;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
                text-align: center;
        }
        .socials_img{
            width: 288px;
            margin: 0;
            margin-left: -31px;
            padding: 0;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .socials_img_elem{
            padding: 0;
            scale:0.34;
        }
        
        .features_container{
            width: 288px;
            padding: 0 16px;
            margin: 0;
        }

        .tabs_buttons{
            width: 288px;
            padding: 0;
        }
        .button_top{
            width: 103px;
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        .button_top_active{
            width: 103px;
            box-sizing: border-box;
            border: 1px solid rgb(198, 203, 205);
            border-bottom: 1px solid #FFF;
            border-radius: 5px 5px 0px 0px;
            color: rgb(51, 51, 51);
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        

        .tabs_content{
            width: 288px;
            margin-top: 0;
            padding: 0;
        }
        .tabs_content_text{
            width: 288px;
            margin: 0;
            padding: 0;
        }
        
        .tabs_content_head_text{
            width: 242.74px;
            height: 112px;
            margin: 0 auto;
            padding: 0;
            color: rgb(0, 0, 0);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: center;
        }
        .tabs_content_text_other{
            width: 242.74px;
            margin: 0 auto;
            height: 180px;
            color: rgb(0, 0, 0);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
        
    }
        .download_button{
            margin: 0 auto;
            margin-top: 29px;
            margin-bottom: 50px;
            padding: 0;
            width: 242.74px;
            height: 50px;
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            text-align: center;
            text-transform: capitalize;
        }
        .tabs_content_right{
            display: none;
        }
        .statue_img{
            display: none;
        }
        
        .container_awesome {
            width: 288px;
            padding: 0 16px;
            justify-content: center;
            padding-bottom: 50px;
        }
      
        .text{
            width:  288px;
            height: 120px;
            color: rgb(0, 0, 0);
            font-family: Raleway;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
        }
        
        .line {
            width: 134px;
            margin-bottom: 25px;
        }
        
        .awesome_lorem {
            width: 288px;
            height: 30px;
            color: rgb(134, 135, 139);
            font-family: Raleway;
            font-size: 13px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: center;
        }

        .blocks {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
        }
        .blocks__el{width: 288px;
            height: 318px;}
            
        .container_pricing_content{
            width: 288px;
            padding: 0 16px;
            margin: 0;
        }
        .pricing_tab__container{
           padding: 0;
           margin: 0 auto;
           width: 288px;
        }        
        .pricing_tab {
            width: 288px;
            margin-bottom: 27px;
        }
        .pricing_tab_type {
            width: 288px;
        }
        .pricing_tab_price {
            width: 288px;
        }
        .pricing_tab_advert {
            width: 288px;
        }
        .pricing_tab_space {
            width: 288px;
        }
        .gb{
            width: 288px;
            
        }
        .reviews_container{
            width: 320px;
            padding: 0;
            margin: 0;
        }
        .reviews_headline{
            width: 288px;
            padding: 0 16px;
            height: 120px;
            color: rgb(0, 0, 0);
            font-family: Raleway;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }
        .reviews_separator {
            max-width: 170px;
            height: 1px;
            background-color: #EC7979;
            margin: 0 auto; 
          }
          .reviews_lorem {
            margin-top: 24px;
            margin-bottom: 24px;
            color: rgb(134, 135, 139);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
        }
        .customers {
            width: 288px;
            margin: 0;
            padding: 0 16px;
        }
        .customer_1{
            width: 288px;
        }
        .customer_2{
            display: none;
        }
        .customer_3{
            display: none;
        }
        .customer_details{
            margin: 0;
            padding: 0;
            width: 204px;
            display: flex;
            justify-content: flex-end;
        }
        .customers_text{
            color: rgb(134, 135, 139);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
        }
        .customer_name{
            margin: 0;
            padding: 0;
            margin-bottom: -30px;
            width: 204px;
            height: 36px; 
            color: rgb(0, 0, 0);
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
        }
        .customer_info{
            padding: 0;
            margin-top: 24px;
        }
        .customer_info_img{
            margin: 0;
            max-width: 70px;
            max-height: 70px;
            margin-right: 22px;
        }
        .customer_job{
            width: 205px;
            height: 34px;
            padding: 0;
            align-items: flex-start;
            color: rgb(0, 0, 0);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
        }
        .banner_2{
            padding: 0;
        }
        .container_banner_2{
            width: 320px;
            margin: 0;
            padding-bottom: 58px;
        }
        .banner_2_header{
            width: 288px;
            height: 120px;
            padding: 0 16px;
            color: rgb(255, 255, 255);
            font-family: Raleway;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        .banner_2_separator{
            width: 143px;
            margin: 0 auto;
        }
        .banner_2_text{
            margin-top: 16px;
            width: 288px;
            padding: 0 16px;
            height: 48px;
            color: rgb(255, 255, 255);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 66px;
        }
        .banner_2_button{
            width: 288px;
            margin: 0 16px;
            padding: 0;
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: capitalize;
        }
        
        .container_contact{
            width: 320px;
            margin-bottom: 50px;
            padding: 0;
        }
        .contact_header{
            height: 120px;
            color: rgb(0, 0, 0);
            font-family: Raleway;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            width: 288px;
            padding: 0 16px;
            margin-bottom: 0;
        }
        .reviews_separator{
            margin-top: 0;
            width: 134px;
        }
        .contact_lorem{
            color: rgb(134, 135, 139);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 72px;
        }
        .contact_form{
            width: 288px;
            padding: 0 16px;
            color: rgb(134, 135, 139);
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        
        .contact_form_left{
            width: 288px;
            padding: 0 16px;
        }
        .contact_input{
            width: 288px;
            height: 38px;
            margin-bottom: 50px;
        }
        .contact_form_right{
            margin: 0;
            padding: 0 16px;
            width: 288px;
            height: 216px;
            margin-bottom: 50px;
        }
        .contact_message{
            width: 288px;
            margin: 0;
            height: 216px;
        }
        .contact_button{
            margin-left: 16px;
            width: 288px;
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            text-align: center;
            text-transform: capitalize;
        }
        

        .footer_socials{
            justify-content: space-around;
            width: 288px;
            margin-left: -72px;
            padding: 0;
        }
        .footer_icon{
            scale: 0.32;
        } 
    }